.bouton a {
  display:block;
  width:150px;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
  color:white;
  text-decoration:none;
  background: #444;
}
.bouton a:hover {
     color: red;
     background: #555;
     background: linear-gradient( #777, #333);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
